<form class='cardForm'>
    <input type='hidden' name='card[list_id]' value='<%=list.get('id')%>'>
	 <label>Card Title
    <input type="text" class='cardTitle' name="card[title]" placeholder="card title"></label>
    <input type='hidden' class='cardRank' name='card[rank]'
	 value='<%=list.cards().length +1 %>'>
</form>