<h2><%= board.get('title') %></h2>
<br>
<ul id='lists' class='connectedLists'>
  <% board.lists().each( function(list){ %>
    <li class='list_entry' data-id='<%=list.get('id')%>' data-rank='<%=list.get('rank')%>'>
      <button class='openList'>
        <%= list.get('title')%>
      </button>
    </li>
  <% }) %>
</ul>

<div class='formSpot'></div>
<button class='makeList newList'>Add a List</button>