<form>
  <label>List Title
    <input type="text" class='listTitle' name="list[title]" placeholder="list title">
    <input type='text' class='listRank' name='list[rank]' placeholder='rank'>
  <button class='makeList'>Add a list</button>
</form>