<h2 ><%= list.get('title') %> </h2>
<ul> <% list.cards().each(function(card){ %>
  <li> <%= card.escape('title') %> </li>
  <% }); %>
</ul>
<br>


<div class='formSpotCard'></div>
<button class='makeCard'>Add a Card</button>
<br>
<button class='removeList'>Remove This List</button>